<div class="arrow-container column">
<a class="back-arrow" routerLink="/photos" color="primary">
    <mat-icon>arrow_back</mat-icon>
</a>
</div>
<div class="row">
  <div class="arrow-container prev-img" (mouseover)="hoverLeft=true" (mouseleave)="hoverLeft=false" (click)="goToPrevImg()">
    <mat-icon [ngStyle]="{'color' : hoverLeft ? 'rgba(115, 79, 179, 0.83)' : '#673ab7'}">keyboard_arrow_left</mat-icon></div>
  <div [ngStyle]="{'background-image':'url('+ image.url +')'}" class="img-container" [@slideInLeft] >
    </div>
    <div class="arrow-container next-img" (mouseover)="hoverRight=true" (mouseleave)="hoverRight=false" (click)="goToNextImg()">
      <mat-icon  [ngStyle]="{'color' : hoverRight ? 'rgba(115, 79, 179, 0.83)' : '#673ab7'}">keyboard_arrow_right</mat-icon></div>
</div>
