.img{
  margin:6px 6px;
  border: 4px solid #eee;
  box-shadow:rgb(224, 199, 199) 1px 1px 8px 1px;
  max-width: 350px;
  max-height: 250px;
  cursor: pointer
     }
 ul { padding:0; width:1200px; margin:20px auto;margin-left: 80px}
 li { display:inline;}
h1.gallery-title {
  margin-top: 30px;
  margin-left: 20px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.mat-card {
  // max-width: 400px;
  // max-height: 350px;
  text-align: center;
  padding-top: 20px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px){
  .mat-card {
    max-width: 400px;
    max-height: 350px;
    margin: 20px;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .mat-card {
    overflow-x:hidden;
    max-width: 100vw;
  }
  .gallery {
    overflow-x:hidden;
    max-width: 100vw;
  }
}
