  <mat-toolbar color="primary">
    <span>{{ title}}</span>
  <nav mat-tab-nav-bar>
       <a mat-tab-link *ngFor="let link of links; index as i"
       (click)="handleLinkClick(link)"
       [routerLink]="['/' + link]" routerLinkActive="active"
       > {{titles[i]}} </a>
  </nav>
</mat-toolbar>
<mat-sidenav-container>
   <!-- <mat-sidenav #sidenavRef role="navigation"> -->
    <!-- <navbar (sidenavClose)="sidenavRef.close()"></navbar> -->
    <navbar></navbar>
  <!-- </mat-sidenav> -->
  <!-- <mat-sidenav-content> -->
    <!-- <app-header (sidenavToggle)="sidenavRef.toggle()"></app-header> -->
  <!-- </mat-sidenav-content> -->
</mat-sidenav-container>

<router-outlet></router-outlet>
<footer></footer>
