.toolbar-spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.example-sidenav {
  width: 200px;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 1.25em;
}
.active-link {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
.white-text {
  color: white;
}
.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-outer {
  background-color: olivedrab;
}
mat-nav-list.horizontal-list {
  display: flex;
  flex-direction: row;
  color: azure;
 }
 .custom-ml-sm{
  margin-left: 1em;
 }
