<h1  class="poem">Poema inspirado en R. de C.</h1>
<div class="poem">
<p>
Adios, ríos, adios, fontes; <br>
adios, regatos pequenos;  <br>
adios, vista dos meus ollos; <br>
non sei cando nos veremos. <br>
</p>
</div>
<div class="poem">
<p>
Miña terra, miña terra,     <br>
terra onde me eu criei;     <br>
hortiña que quero tanto,    <br>
as claudieiras que enxertei;<br>
e as árbores que plantei.   <br>
</p>
</div>
<div class="poem">
<p>
Casiña que eu non olvido,   <br>
que foi feita por meu pai,  <br>
cantos muíños nos deixou,   <br>
pra que non nos falte o pan.<br>
</div>
<div class="poem">
<p>
Once fillos que criaron, <br>
canto miña nai loitou,   <br>
porque eran malos tempor,<br>
e el pronto nos deixou.  <br>
</p>
</div>
<div class="poem">
<p>
Nós eramos once irmáns, <br>
e era eu o máis noviño, <br>
miña nai sempre dicía,  <br>
que eu era o seu neniño.<br>
</p>
</div>
<div class="poem">
<p>
Maruxiña e mais eu,    <br>
íamos a Tabeaio,       <br>
cruzando polos camiños,<br>
ata chegar ós muíños.  <br>
</p>
</div>
<div class="poem">
<p>
Cando víñamos de volta,     <br>
con un saco de fariña,      <br>
era un gran sacrificio,     <br>
porque ás nosas costas viña.<br>
</p>
</div>
<div class="poem">
<p>
Miña nai toda contenta,<br>
amasaba a fariña,      <br>
nada lle saía mal,     <br>
era todo natural.      <br>
</p>
</div>
<div class="poem">
<p>
Cando dezaoito anos tiña,<br>
eu pensei no meu futuro, <br>
pois a América emigrei,  <br>
quedarme era moi duro.   <br>
</p>
</div>
<div class="poem">
<p>
Miña nai queríame moito, <br>
e deixou que eu marchara,<br>
cantas lágrimas boto,    <br>
cando eu xa non estaba.  <br>
</p>
</div>
<div class="poem">
<p>
No Auriga embarquei,  <br>
e a América emigrei,  <br>
que viaxe tan fermoso;<br>
coñecín a uns amigos  <br>
que me fixeron famoso.
</p>
</div>
<div class="poem">
<p>
Cando ós catro viñen,   <br>
miña nai non o cría,    <br>
pois ó barco inventoulle<br>
unha fermosa melodía.   <br>
</p>
</div>
<div class="poem">
<p>
Empezaba así:
En ese barco "Begoña",<br>
que ven o meu corazón,<br>
catro anos xa pasaron,<br>
non podo ca emoción.  <br>
</p>
</div>
<div class="poem">
<p>
A. Veiga.
</p>
</div>
