
<div class="component-body">
 <h1>
  Memorias
  de mi primer viaje a Venezuela (año 1955)</h1>
  <p class="western" style="line-height: 100%; margin-bottom: 0.42cm"><br/>
    <img id="header-img" class="header-img" src="assets/f12.jpg">
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES"><i>Gracias a los que se dedican a leer este
  librillo. </i></span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
    <span lang="es-ES"><b>
      Resumen y anécdotas vividas en mi primer viaje a Venezuela
    </b></span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Año 1955. 6 de noviembre. 18 años de edad.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Día 6 de noviembre a las cuatro de la tarde
  aproximadamente: embarco en el Puerto de A Coruña en un barco
  italiano llamado Auriga. Es muy grande y algo lento. Me vienen a
  despedir mi hermano Cesáreo, el último de once hermanos; Carlos, un
  sobrino de 14 años; y también un amigo de San Román llamado Jesús,
  al que llamábamos ‘Chucho’. Conservo una foto de los tres en el
  puerto antes de zarpar.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">El viaje duró 21 días. Salimos con destino a
  Vigo a coger más gente, de aquí nos dirigimos a Las Palmas de Gran
  Canaria, nos conceden dos horas para conocer la ciudad, hace mucho
  calor y hay varios jardines muy bonitos. Salimos de Las Palmas y nos
  vamos a Santo Domingo. En esta larga travesía cruzando el Atlántico
  he vivido muchas experiencias muy bonitas para mí, algunas de las
  cuales voy a dejar para el recuerdo aquí. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Me tocó un camarote ni muy grande –que los
  había enormes—, ni demasiado pequeño. En él iban dos chicos
  majísimos de 30 a 35 años. Uno de ellos era el señor Ponte,
  escritor, y el otro era un hermano de Otero, el gran portero del
  Deportivo de A Coruña en aquellas fechas. Este chico era una persona
  con estudios y una buena preparación. Quizá porque yo era muy joven
  y buena persona, les caí bien y me permitían acompañarlos por todo
  el barco y estar con ellos como si fuera su hermano pequeño. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Con nosotros también viajaba un chico muy moreno
  de A Coruña que cantaba imitando a Antonio Molina –quien en estas
  fechas estaba muy de moda— y del cual me enteré al final del viaje
  que iba de polizón en el barco. A nuestro lado había otro camarote
  en el que iba gente del campo con destino a Santo Domingo y cuando no
  había nadie dentro, mis amigos Ponte, Otero y el moreno entraban y
  cogían dos o tres garrafas que vaciaban de unos grandes garrafones y
  cortaban unos trozos de un buen jamón que llevaban empaquetados,
  mientras yo vigilaba. Una vez que se acababa un garrafón se llenaba
  de agua para que no sospecharan y, conseguido el buen manjar,
  subíamos a cubierta a merendar todas las tardes mientras que el
  moreno al que llamábamos Antonio Molina cantaba. Eran unas meriendas
  de campeonato.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">En este trayecto atravesando el atlántico tuvimos
  una tempestad muy fuerte con mar de fondo. La gente estaba muy
  mareada, tirada por los pasillos, mientras yo saltaba por encima de
  ellos y pensaba al mismo tiempo: “esta gente no aguanta nada”, y
  es que no me mareé, estaba como si no fuera nada. Cuando ya vino la
  calma nos organizamos nuevamente.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Por fin, llegamos al Puerto de Ciudad Trujillo,
  capital de Santo Domingo. Estos dos chicos de Coruña eran unos
  linces. Consiguieron hablar con el capitán del barco para que nos
  concedieran cuatro horas en lugar de dos y así nos diera tiempo a
  conocer un poco más la ciudad. Alquilamos un taxi y nos llevó a los
  lugares más importantes al mismo tiempo que nos hacía de guía. Ya
  una vez finalizado el tiempo embarcamos y nos dirigimos a Cuba. Por
  cierto, durante la travesía tuvimos frecuentes bailes de salón.
  Otero bailaba muy bien, sacaba a una chica vestida expresamente pa’
  eso y daba gusto ver cómo se movían, al final les aplaudíamos
  todos. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Ya una vez en Cuba desembarcamos en el puerto de
  la Habana haciendo lo mismo que en Ciudad Trujillo. La gran avenida
  de la Habana era muy ancha y preciosa y estaba llena de palmeras
  todas de un mismo tamaño. El taxista nos llevó a algunos lugares
  importantes. Al finalizar el tiempo embarcamos de nuevo rumbo a
  Jamaica, y ya aquí desembarcamos en el puerto de Kingston. Me sentí
  un poco incómodo por causa del olor desagradable que nos llegaba.
  Por otra parte, me impactó el que toda la gente de la ciudad fuese
  negra, ya que era algo que nunca había visto. Cogimos un taxi que
  nos llevó a algunos lugares y al Hotel más importante de Kingston.
  Era de cinco estrellas y estaba en un lugar muy bonito al lado del
  mar. Entramos y nos llevaron a ver las instalaciones más
  importantes. Era todo espectacular, y toda la gente que había allí
  era rica y blanca. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Ya al finalizar embarcamos y nos fuimos rumbo a
  Curasao. Esta es una colonia holandesa, el mar está lleno de pozos
  de petróleo y las bombas gigantes bombean el crudo constantemente.
  Bajamos del barco, pero pronto salimos rumbo a Venezuela, nuestro
  destino. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Atrás quedaban todas esas vivencias de una
  travesía que para mí había sido como un sueño, y no era para
  menos, yo con 18 años era un todoterreno y no le tenía miedo a
  nada. Llegamos a la Guaira, el puerto principal de Venezuela. Miraba
  a mi alrededor y solo veía montañas con infinidad de chabolas que
  se llamaban ranchitos, y en ellas solo vivía gente muy pobre con muy
  pocos recursos, lo que daba una primera impresión fuerte.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">El barco atracó en el puerto y miré hacia abajo:
  estaba todo lleno de gente. Seguí mirando hasta que vi a mi hermano
  Luis y a mi cuñada Clara. Entonces llevé una gran alegría, nos
  abrazamos fuertemente y, una vez recogido el baúl, nos fuimos a
  Caracas. Cuando subíamos por la autopista ya no se veían ranchitos.
  Llegamos al centro de Caracas, a una zona que se llama El silencio.
  Había dos torres gemelas muy altas. Me dejaron con una señora de
  Carral, muy buena persona, que se llamaba Andrea y tenía una pensión
  en la que solo se quedaba gente conocida. Me tenía gracia porque
  detrás de ella iba siempre una periquita muy bonita. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Allí me quedé hasta que llegaron mi hermana
  Fina, su marido Manolo y su hijo Huguito –que tenía dos años—,
  en el año de 1956, y me fui a vivir con ellos. Fina fue mi segunda
  madre. Luis y Clara vivían en el </span><span lang="es-ES"><i>Country
  Club</i></span><span lang="es-ES">, una zona donde solo vivían los
  ricos y la gente importante. Eran el servicio en la Quinta Torre
  Blanca de Míster Thomas, el presidente de la </span><span lang="es-ES"><i>Orinoco
  Mines Company</i></span><span lang="es-ES">, las famosas minas de
  hierro explotadas por los norteamericanos. En aquellos tiempos todo
  lo que había en Venezuela era de los Estados Unidos, los venezolanos
  aun eran no estaban muy mezclados y tenían rasgos indígenas, y en
  su tierra había de todo: petróleo en grandes cantidades, hierro,
  oro, plata… todo controlado por los Estados Unidos. De hecho, la
  moneda era de plata de ley y en 1956 Venezuela estaba empezando a
  resurgir y a avanzar económica, social y urbanísticamente. Por
  aquel entonces, Venezuela era un país muy seguro, uno podía dejar
  la cartera delante de la puerta de su casa que nadie le iba a robar.
  El presidente era un dictador parecido a Franco que se llamaba Pérez
  Jiménez y los españoles, italianos y portugueses trabajaban día y
  noche en la construcción levantando ciudades. De hecho, algunos
  tuvieron que volverse a España muy enfermos. Antes de esto no
  existían ciudades en Venezuela. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Cuando llegaron Fina, Manolo, y Huguito, yo dejé
  la pensión y me fui a vivir con ellos a Chacaíto, a una casa de un
  húngaro que se llamaba Aquerman, vivía solo y era muy buena
  persona. Luis tenía un amigo canario que al poco tiempo ya metió a
  Manolo –y más tarde a Iberio— en la Cigarrera Vigot, una
  cigarrera inglesa muy importante; y a mí en la Técnica
  constructora, y nos fuimos a vivir a Chacao, una zona muy bonita del
  Este, en un tercer piso estupendo. Allí fue donde conocimos a la
  señora Cari y su marido Nadad. A Huguito lo tenían casi siempre con
  ellos, como si fuera su hijo. Al lado nuestro vivía otro matrimonio
  catalán, eran masajistas y tampoco tenían hijos, ella se llamaba
  Carmen.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES"><b>Mis primeros pasos en Venezuela </b></span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Los principios fueron duros. Cuando empecé a
  trabajar en la Técnica Constructora, que era una empresa italiana en
  la que todo el material venía de Estados Unidos, me pusieron a
  enderezar marcos de hierro, y como dentro del taller no había
  espacio teníamos que enderezarlos fuera. El sol apretaba y yo no
  hacía más que beber, había que adaptarse como fuese.
  Afortunadamente, pronto cambié de empresa y empecé a trabajar en
  Movimientos de Tierra VICA, S.A. Era una gran empresa que planificaba
  y preparaba urbanizaciones, dejándolas listas para construir, con
  sus calles y su alumbrado. Tenían todo tipo de maquinaria pesada,
  tanto era así que podían hacer desaparecer una montaña en pocos
  días. Yo trabajaba en el taller mecánico para tener siempre la
  maquinaria a punto. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Un día tuvimos que bajar de un camión volquete
  varias bombonas grandes y altas de oxígeno y acetileno; al camión
  le levantábamos un poco el piso para que quedara en forma de rampla.
  Pusieron un obrero en el camión que me iba pasando las bombonas una
  a una. Yo desde abajo las iba recogiendo, pero al hombre se le soltó
  una que se vino rodando por el piso del camión, le eché las manos
  para que no cayera de golpe, pues podía explotar, pero solo la
  aguanté a medias y me cayó encima del dedo gordo del pie izquierdo.
  Me lo aplastó y me caí al suelo sin conocimiento. Me llevaron al
  hospital del seguro de accidentes y lo que hicieron fue rebozarme el
  dedo bastante con un líquido desinfectante, me lo envolvieron con
  gasas y me mandaron para casa. Naturalmente el dedo curó en falso,
  pero como era joven no me dolía, y a medida que iban pasando los
  años notaba más molestias. Debería haber ido a un especialista,
  pero por pereza nunca fui y ahora tengo que usar calzado largo y
  aguantar la secuela.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">En esta empresa conocí a Gabino, un chico
  magnífico. Él trabajaba en el taller de automóviles, era
  corpulento y apuesto, y nos hicimos buenos amigos. Su madre era de
  Porriño y su padre asturiano. En 1960, tras cuatro años en
  Venezuela, decidimos los dos venir a España en un barco que se
  llamaba Begoña. Al enterarse de que venía a España, mamá le
  compuso una bonita canción al Begoña. Empezaba así: en ese barco
  Begoña que trae al corazoncito mío… fue un encuentro muy
  emocionante, mi madre estaba feliz y yo también. Estuvimos aquí
  cuatro meses. Gabino estaba 20 días en Orto y yo otros veinte en
  Porriño; y además me llevaba a Vigo. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">En una ocasión nos llevaron sus padres a Bulse,
  en Asturias, la tierra de su padre, en un Citroën de aquella época.
  Fue una travesía desagradable por las curvas que había. Cuando
  Gabino estaba en Orto íbamos hacia la finca “mularedo” y Gabino
  iba todo el tiempo cantando canciones mexicanas, que estaban de moda.
  Tenía una voz potente y se oía en todo Orto, cantaba bien. Yo le
  llevaba muchas veces a Coruña. En estos cuatro meses de vacaciones,
  mi hermano Iberio se casó por “poder” o correspondencia con
  Aurora de Domingo, una vecina muy maja. Yo le fui de padrino de boda,
  lo que fue una experiencia interesante. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">En otra ocasión salí a dar una vuelta saludando
  a los vecinos. Yo llevaba un radiocasete con grabadora y reproductor
  incluido. Estuve hablando con Dolores </span><span lang="es-ES"><i>do
  Cuco</i></span><span lang="es-ES">, la madre de un amigo nuestro, y
  al final le dije: </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Dolores, </span><span lang="es-ES"><i>¿queres
  escoitar a túa propia voz e todo o que falamos?</i></span><span lang="es-ES">
  –y le puse el reproductor. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  –<span lang="es-ES"><i>¡¡Ui Dios mío, e esa é a miña voz, non
  o podo crer, que inventos hai!!</i></span><span lang="es-ES">— </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">También otra señora cerca de aquí, que era mi
  tía, quedó muy impresionada con el radiocasete. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Al final de los cuatro meses nos volvimos a
  Venezuela en el barco Monserrat y yo continué trabajando un año más
  en la Constructora VICA. En este período un compañero que era
  colombiano y que me tenía mucho aprecio me propuso que fuera con él
  a Cúcuta, pues era de allí. Me insistió tanto que decidí ir. A
  veces le cogía un poco el coche para aprender a conducir y una vez
  le di un golpe, pero no se enfadó. En resumen, que nos fuimos a
  Cúcuta. Era una ciudad muy curiosa, en las calles había grandes
  mercadillos. Tenían de todo, se compraba ropa muy barata y de buena
  calidad. En fin, que ya conocía algo de Colombia. Otro evento
  reseñable que tuvo lugar por aquellas fechas fue que Iberio compró
  un coche americano de marca Studebacher. Le llamábamos el estudiante
  y fue nuestro coche-escuela. Con él aprendimos a conducir Iberio,
  Manolo y yo. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Y aquí empieza un tiempo nuevo. Yo cambio de
  empresa y me voy a trabajar a talleres Hispania en el Paraíso, cerca
  del Silencio, como soldador de primera y ganando más. Eran unos
  talleres muy importantes, los dueños –un madrileño ingeniero
  industrial y un catalán encargado del taller y del personal—. Aquí
  conocí al que iba a ser mi mejor amigo, Gian Carlo, un italiano que
  era fresador, hacía engranajes de todos los tipos en una máquina
  fresadora. Este gran amigo me presentó a los amigos de su pandilla,
  otro italiano estupendo que se llamaba Víctor, que era un buen
  camarero y trabajaba en cafetería donde nos reuníamos todas las
  noches, y dos gallegos, los dos de Lugo, uno se llamaba Isaac y era
  un excelente mecánico especialista en Volkswagen. Tenía su taller
  propio, solo reparaba esta marca. El otro gallego, un poco más
  joven, era el intelectual de la pandilla; vivía con sus padres,
  estudiaba y hablaba inglés, era muy bien parecido pero un poco
  engreído. Por último, también andaba con ellos un andaluz que se
  llamaba Andrés y era muy buen chaval. Los seis salíamos juntos
  cuatro o cinco veces a la semana y nos hicimos buenos amigos. Nos
  encantaba jugar bowling, lo mismo con el futbolín, que estaba muy de
  moda, o sea no parábamos. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Gian Carlo vivía en la avenida Sabana Grande, una
  de las calles con más comercios y más bonitas de Caracas, fue donde
  compré mi equipo de música. Tenía los mejores anuncios de neón en
  los edificios más altos. Me llevó a su casa y me presentó a sus
  padres, que eran estupendos. Era hijo único. En cierta ocasión me
  llevaron de caza a una urbanización lejos de Caracas. Se llamaba Las
  Mercedes y era selva. Íbamos a cazar perdices.
  Había muchas y te salían de delante de las narices, a mí me
  dejaron una escopeta y alguna la maté. También había monos,
  guacamayos e infinidad de loros. Nos quedamos en un hotel, hacía
  mucho calor y cuando nos fuimos a duchar para refrescarnos el agua
  salía caliente, las cañerías estaban ardiendo, pero lo pasamos
  bien. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Por estas fechas conocí a un amigo que también
  se llamaba Antonio, era de Betanzos, hacía fotos en bodas y bautizos
  y tenía un laboratorio de revelado de fotos. Me animó a que le
  acompañara a sacar fotos en alguna ocasión, y cuando iba me dejaba
  una cámara profesional para que hiciera igual que él y me daba un
  dinero; yo cuando me empeñaba sabía hacer de todo. Este chico había
  practicado boxeo y era corpulento, se mantenía fuerte y atlético. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Por aquel entonces, yo ya tenía un Lincoln
  Premiere de lujo que había comprado usado: tenía un motor de ocho
  cilindros, cambio automático, asientos automáticos, antena
  automática y más comodidades. Un día íbamos con el Lincoln
  Antonio y yo, él venía sentado a mi lado y yo conducía.
  Conducíamos por una avenida de tres carriles, yo iba tranquilamente
  por el canal derecho y otro conductor que iba por el canal del medio
  se cruzó raudo a la derecha para meterse por una salida y dejar la
  avenida. Tuve que frenar fuerte y casi le di, Antonio se puso furioso
  y le gritó: </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  — <span lang="es-ES">¡¡¡No sabes conducir, imbécil, párate ahí
  que te voy a enseñar!!!</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Y los tíos se pararon. Antonio se bajó del coche
  y el otro conductor, que era corpulento, también se bajó, y ya
  empezaron los dos a pegarse puñetazos. La gente paraba los coches y
  se bajaba a ver el show y a animar la pelea: </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¡Dale, dale fuerte! </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Por supuesto, yo también me bajé, pero entonces
  salió el compañero del otro conductor y vino hacia mí. Era un tío
  muy alto y fuerte que parecía un energúmeno, y a su lado yo en
  cambio parecía un enano. Pues va y me dice:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¡Te voy a hacer papilla! </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Viéndome perdido me planto frente a él y pongo
  en práctica mi imaginación: o salgo corriendo, o le convenzo,
  pienso rápidamente, y al final intento razonarle: </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Oye ¿te hice algo a ti o te insulté? Por
  supuesto que no. Entonces, por qué coño nos vamos a pelear. Déjalos
  a ellos. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">El tío se me queda mirando, yo sin moverme, y me
  da la razón. ¡Vaya alivio que sentí! Los otros seguían
  peleándose, pero ya Antonio lo tenía vapuleado. Los coches todos
  parados empezaron a aplaudir a mi amigo, dado que ganó limpiamente
  la pelea. Él sabía que iba a ganar, parecía que estábamos rodando
  una película. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Otras veces por la avenida de la Carlota, cada uno
  llevaba su coche, él se paraba y venía hacia mí como una fiera. Yo
  hacía lo mismo y la gente se paraba a ver la pelea. Primero
  discutíamos y luego nos peleábamos sin darnos fuerte hasta que
  hacíamos las paces. Este amigo de Betanzos era la leche, lo
  pasábamos en grande.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">En estas fechas, 1965 aproximadamente, vuelvo a
  cambiar de empresa para irme a un taller importante cuyos dueños
  eran dos hermanos italianos. Se llamaba Talleres Corra y fabricábamos
  maquinaria para cortar madera de carpintería y para aserraderos, y
  hacíamos unas máquinas para fabricar todo tipo de cuerdas. Yo aquí
  estaba contento porque apenas soldaba, en su lugar trabajaba como
  ajustador mecánico y le ponía mucho interés porque me gustaba el
  trabajo. Los dueños estaban encantados conmigo. Cuando tenía que
  instalar un ciclón en un aserradero me mandaban un ayudante
  venezolano que se llamaba Rosende, que era corpulento y buena
  persona, y a veces, cuando no me hacía bien un trabajo, le daba una
  bofetada y me decía: “–No me pegues Vega.”. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Con nosotros trabajaba un chico venezolano que se
  llamaba Paco y me apreciaba mucho. Siempre me llamaba ‘Veguita’.
  Era de San Cristóbal, cerca de la frontera con Colombia, y tenía
  allí a su familia, sus padres y una hermanita más joven que él.
  Siempre me decía que tenía que ir a conocer su tierra y a su
  familia. Tanto insistió que logró convencerme. Este pueblo era muy
  bonito y tenía una plaza de toros monumental que por cierto recibía
  a los mejores toreros de España, pero a mí los toros nunca me
  gustaron. Nos llevó un familiar de Paco que era muy conocedor de
  aquellas tierras. Era un chico inteligente y valiente que le echaba
  valor a todo, nunca se acojonaba. Nos llevó en un Volkswagen
  seminuevo, marca de la cual él era buen conductor y muy seguro. Lo
  pasamos muy bien en San Cristóbal. Nos llevaron a los lugares más
  típicos de aquella tierra y nos quedamos hasta el día siguiente, en
  que comimos y ya nos preparamos para regresar a Caracas. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Salimos y cuando llevábamos sobre unos 300 km
  aproximadamente encontramos una caravana inmensa. Todos los coches
  parados. El conductor, que se llamaba Tomás, nos dice “bueno, me
  da la impresión de que algo gordo pasó en el puente del río.
  Quedaros en el coche que voy a enterarme”, y se fue caminando hasta
  el río, que debía estar lejos porque tardó mucho en regresar. Al
  fin llega y nos dice, “está el puente caído de cuajo, tiene una
  pala retroexcavadora del otro lado del río. Tenemos tres
  posibilidades, la primera es quedarnos en el coche toda la noche
  hasta mañana, la segunda es dar vuelta para san Cristóbal, que
  sería una paliza, y la tercera, la más arriesgada, cruzar el río
  por la parte izquierda del puente exponiéndonos a que nos lleve la
  corriente por el río abajo. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Cuál de esas alternativas elegirías tú? –le
  preguntamos a Tomás después de un buen rato de reflexión.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-La última. Hasta ahora nadie se atrevió a
  cruzar, ni con coches grandes, pero yo en mi Volkswagen me atrevería.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Quedamos sorprendidos, pero teníamos tanta fe en
  él que decidimos cruzarlo.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Bien, sacáis dos pañuelos blancos por las
  ventanillas agitándolos con fuerza, como si lleváramos un herido
  grave, y cuando lleguemos al puente bajaré por el lado izquierdo
  hasta la orilla del río.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Así lo hicimos: metió el coche por el canal
  izquierdo tocando el claxon y nosotros agitando los pañuelos
  llegamos al puente. Tomás baja con el coche al río y al llegar a la
  orilla se apea para analizar bien cómo tendría que meterse. La
  gente corría al lado del puente para ver lo que hacíamos,
  seguramente pensando que estábamos locos. Tomás vuelve a subirse y
  enfila el coche totalmente oblicuo, siempre cortando la corriente.
  Las puertas del Volkswagen cerraban herméticamente, pero la altura
  del agua ya llegaba a la manilla de las puertas y empezaba a entrar
  el agua. Nos asustamos, pero Tomás seguía dominando el coche, a
  veces la corriente nos arrastraba un poco y daba la impresión de que
  nos íbamos, si bien Tomás sabía que mientras la ruedas tocaran el
  suelo no nos llevaría la corriente. Al fin llegamos a la otra
  orilla. La gente que estaba viendo el espectáculo aplaudía a
  rabiar. La pala nos echó un cable de acero y nos fue subiendo poco a
  poco, ¡y qué alegría cuando nos vimos del otro lado! Rompimos en
  halagos y abrazos a nuestro héroe. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">	Ahora bien, a los Volkswagen antiguos los
  llamábamos ‘anfibios’ precisamente porque llevaban el motor de
  atrás resguardado de tal forma que era difícil que penetrara el
  agua; de lo contrario, se apagaría el motor y ya no habría nada que
  hacer. Por otra parte, si no contásemos con la magnífica habilidad
  del conductor nos iríamos río abajo. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">	En 1967 hice un viaje a España, y aunque ya vine
  y volví en avión, a la vuelta me envié por barco un baúl con
  ropa, botellas, tabaco rubio, y otros enseres. Cuando me avisaron de
  que había llegado el barco fui a buscar el baúl en la ranchera de
  Luis. Para quitar el baúl más rápido se pone uno en contacto con
  los mozos de aduanas, cosa que hice con la mala suerte de que al
  darle propina al mozo nos vio un hombre fuerte y negro de los que
  relevan a la policía y sólo llevan porra. Nos cayó encima, me
  obligó a coger la ranchera y a dirigirme a Maiquetía, a un cuartel
  militar a 20 km de la Guaira, donde está el aeropuerto. El hombre se
  sienta a mi lado y quita una navaja grande ‘pico de loro’ que me
  pone en el pecho, apretándola fuerte como si fuera un peligroso
  terrorista, y me obliga a poner el coche en movimiento hacia
  Maiquetía. En el trayecto estuve muy a punto de tirar el coche a la
  cuneta y mazar al maldito, pero me contuve. Llegamos al cuartel y los
  militares me dijeron que abriese el baúl y fuese quitando todo para
  afuera, y así lo hice. En resumen, que se quedaron con todas las
  botellas y el tabaco. Al final les digo:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Esto es para mi consumo personal, déjenme al
  menos una botella y el tabaco.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
   <span lang="es-ES">Y me contesta el teniente:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-¡Váyase y calladito! Porque tiene suerte de que
  le dejemos marchar.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Me fui, pero al maldito chivato no lo volví a
  ver. Quizás fue lo mejor.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">	En otra ocasión había un baile criollo en la
  plaza Venezuela. Actuaban orquestas y fuimos mi amigo Juan Carlos y
  yo. Vimos a dos chicas muy guapas y las invitamos a un helado. En ese
  momento aparecen dos chicos y uno de ellos me pone una pistola en el
  pecho y me dice:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-¡¡Te voy a matar!!</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Y muy asustado le pregunto:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¿Y qué hice yo para querer matarme?</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Te estás metiendo con mi novia</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Procuro tranquilizarme y le contesto:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Perdona chico, pero solo estábamos invitándolas
  a un helado y tampoco sabíamos que eran vuestras novias. ¿Me vas a
  matar por eso?</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Pero él seguía sin quitarme la pistola. Por
  suerte su compañero va y le dice:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¡Déjalo, no merece la pena! </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Cuando nos vimos libres le digo a Juan Carlos:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¡Oye! No sé tú, pero yo no vuelvo más a
  estos bailes criollos. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES"><b>Una gran odisea</b></span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Cuando nos juntábamos Víctor, Juan Carlos,
  Isaac, Carlos y yo era para ponerse a temblar, íbamos a correr al
  circuito de los próceres, que en realidad no era un circuito sino un
  bonito paseo grande y con muchas curvas. Nosotros esperábamos el
  momento propicio para correr. Yo acompañaba a Víctor, tenía un
  auto deportivo con un motor enorme: era un Thunderbird. Juan Carlos
  acompañaba a Isaac en un Volkswagen de su propiedad. Una vez dentro
  parecía que íbamos en la cabina de un avión y Carlos acompañaba a
  Andrés, que era muy buen conductor, en un Fiat también preparado
  para la ocasión. Llevábamos un cronómetro para correr durante
  media hora. Empezaba la carrera y cuando llegábamos a la primera
  curva peligrosa Víctor me decía: “¡cuélgate en la puerta con
  ella abierta!” Yo me colgaba y Víctor daba la curva sobre las dos
  ruedas laterales. Cuando llegábamos a la siguiente curva hacíamos
  lo mismo, los coches roncaban y finalizaba la carrera. Casi siempre
  llegábamos primeros Víctor y yo. Él era un conductor excelente y
  un poco loco. También íbamos a otros lugares más peligrosos,
  alguno se salía y se marchaba por el barranco abajo. Era increíble
  lo que hacíamos, pero cuando uno es joven no le tiene miedo a nada,
  se enfrenta con lo que sea.   </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Isaac tenía un taller propio y hacía mucho
  dinero, íbamos siempre a la misma cafetería en Altamira, que estaba
  muy bien y era de un gallego. A veces llegaba Isaac en su tronco de
  moto de 1000 c/c y vistiendo una vestimenta especial, su cazadora de
  cuero y botas especiales, todo brillaba en él y se daba aires de
  persona importante, aparcaba su moto y venía para junto de nosotros;
  cuando se marchaba salía despacio y eso es lo que le gustaba a la
  gente: no presumía de moto, pero era una belleza. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Cuando iba a ciudad Piar en mis vacaciones
  normalmente viajaba en avión. Eran unos cacharros viejos de la línea
  Arepostal venezolana y se llegaba pronto. En una ocasión salimos de
  Maiquetía y cuando llevábamos cinco minutos volando se empieza a
  llenar de humo, la gente comienza a gritar y sale de la cabina una
  chica con pinta de azafata que nos dice “- ¡Cálmense! Volvemos al
  aeropuerto de Maiquetía, nos pusieron </span><span lang="es-ES"><i>nasta</i></span>
  equivocada.”</p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">En otra ocasión salimos y cuando llevábamos
  cinco o seis minutos sale una azafata y nos dice “-tranquilos,
  tenemos que volver al aeropuerto, dado que nos quedamos sin radio”.
  Volvimos y nos cambiaron de avión. Durante el viaje iba para arriba
  y para abajo dando tumbos y la gente tomaba pastillas para no
  marearse, pero yo iba tranquilo porque no me daban mareos ni miedo.
  En cambio, a una chica que iba a mi lado en uno de estos viajes daba
  pena verla.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES"><b>Última expedición a Venezuela</b></span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Es curioso lo que viví con mi hermano Luis y
  Clara. Alguien le comentó a mi hermano que había una zona a lo
  largo del río Caroní, en el Estado Bolívar, donde vivían criollos
  indios que se dedicaban a extraer diamantes del río. Corría el año
  de 1969. Luis y Clara vivían en Ciudad Piar, en una casa muy bonita
  con su campo y su jardín. Luis era el encargado y barman del club
  Tocoma, y hacía unos cócteles deliciosos. A Luis se le daban muy
  bien estas cosas. El club Tocoma era de los americanos y estaba
  recomendado nada menos que por el presidente de la Orinoco Mining
  Company. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Luis era un hombre muy aventurero, por lo que
  decidimos hacer este viaje al Estado Bolívar. De modo que allá nos
  fuimos en la ranchera, era bastante lejos y nos encontramos con el
  primer obstáculo: teníamos que cruzar un río bastante grande
  –probablemente fuera un afluente del Orinoco—. Nos metimos por
  donde nos parecía mejor –o al menos corrientes peligrosas no
  había—, pero cuando íbamos por la mitad del río, el agua ya
  cubría el motor, que evidentemente se apagó. Luis y yo salimos de
  la ranchera preocupados, preguntándonos qué podíamos hacer. El
  agua ya nos daba por la cintura cuando, de pronto, apareció un señor
  cruzando el río en un todoterreno y empezamos a llamarle:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¡Por favor, ayúdenos!</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">El hombre, muy amable, se acercó y nos preguntó:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¿Qué pasó?</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
   <span lang="es-ES">-Ya ve, el motor se apagó y aquí nos quedamos.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Voy a intentar quitarlos –nos dijo, y acto
  seguido nos lanzó un cable de acero—, amárrenlo bien a la defensa
  delantera por la parte más fuerte. La señora puede quedarse dentro.
  </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Así lo hicimos, y nos fue sacando poco a poco. Se
  lo agradecimos mucho, por supuesto, y nos preguntó que a dónde nos
  dirigíamos. Le contestamos que a ver a los indios que sacaban
  diamantes del río a lo largo del río Caroní, en el Estado Bolívar.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Para ahí voy yo también –nos contesta—. Si
  no conocen el camino, síganme; pero antes sequen bien el motor y
  traten de encenderlo.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">¡Qué maravilla este señor! Da gusto cuando uno
  se encuentra con gente buena, que a veces ocurre lo contrario. Le
  seguimos y el señor debía de conocer bien el camino, porque pronto
  nos encontramos con otro río muy ancho y con islotes. Seguimos por
  la orilla y apareció el lugar que buscábamos: aquél era el río
  Caroní. Lo más típico y curioso era el paisaje, toda la orilla
  estaba llena de chozas indias como en las películas. Nos acercamos a
  ellos y eran criollos que hablaban poco español. Llenaban el río,
  con cribas, cogían la arena y la sacudían, y si aparecía un
  diamante lo metían en el bolsillo, y así todo el día. Bajamos a la
  orilla y le preguntamos al que estaba más cerca:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- Por favor, ¿nos puede enseñar algún diamante?</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Y el criollo saca del bolsillo varios diamantes.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¿Le ofrecen mucho por ellos? –vuelve a
  preguntarle Luis-.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">-Valen mucho más, pero estos señores del
  gobierno nos ofrecen muy poco y no se puede protestar -nos contestó
  intentando hablar en español con dificultad-.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Efectivamente, había varias casetas parecidas a
  las de la lotería, dentro de cada una se encontraba una persona
  armada que pesaba los diamantes en una báscula, ofreciéndoles
  seguramente mucho menos de lo que valían y explotando a la pobre
  gente. Seguimos caminando y encontramos a otro criollo, por cierto,
  muy hablador, que nos pregunta:</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¿Ustedes ser italianos?</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- Italianos no, somos españoles.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">- ¡Ah! Españoles buena gente, aquí no queremos
  italianos, tampoco portugueses. ¡Vengan, vengan!</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Y nos lleva a su chabola y nos ofrece cerveza.
  Descorchaba botellas y nosotros no debíamos rechazarlas, pues podría
  no agradarle. Allí estuvimos un buen rato charlando con el criollo,
  que nos contaba aventuras, parecía que se encontraba a gusto y
  nosotros también, y ya después de un buen rato nos despedimos.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Nos preparamos para regresar. El camino de regreso
  fue mejor porque ya sabíamos donde estaban los peligros. Llegamos a
  Ciudad Piar y nos parecía mentira que estuviéramos de vuelta. Fue
  una experiencia muy bonita e inolvidable.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES"><b>Expediciones con la familia al Junquito y al
  Parque del Este</b></span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">El Junquito está en una zona muy alta, aquí la
  temperatura es muy distinta a la de Caracas, es fría y hay varios
  puestos que ocupan los gallegos, algún italiano y algún portugués,
  y en estos puestos tienen todo lo relacionado con el cerdo cortado en
  varios trozos; la gente compra lo que le apetece, y como hay mucho
  campo y una gran área de selva, la gente se va por ahí con su
  barbacoa y el cerdo está muy rico por el frío. Nosotros lo
  pasábamos francamente bien. Había parques de agua con pájaros
  hermosos, también un parque de enormes caballos que alquilaban
  durante una hora o más. Huguito y yo hicimos el recorrido a caballo.
  Él aún era muy pequeño, podía tener sobre 12 años. Tengo algunas
  fotos con Huguito a caballo y con Manolo en árboles semicaídos.
  Cerca de allí hay un pueblo de alemanes que se llama la Colonia
  Towar. </span>
  </p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">En resumen, que en el Junquito las familias lo
  pasábamos en grande. También íbamos al Parque del Este, que se
  encuentra entre Altamira y la Carlota. Era un parque muy bonito y
  completo. Estaba fenomenal para los niños y para los que no eran tan
  niños. Tenían un tren que recorría el parque y que era mucho más
  moderno que el tren </span><span lang="es-ES"><i>chuchú</i></span><span lang="es-ES">
  que tenemos aquí. Caracas era una ciudad cosmopolita moderna, había
  de todo. Desgraciadamente, en la actualidad la ciudad no es ni la
  sombra de lo que fue, según amigos que viajaron allí hace poco y
  que dicen que es un pueblo destrozado por la corrupción de sus
  políticos.</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">Fin</span></p>
  <p lang="en-US" class="western" style="line-height: 100%; margin-bottom: 0.42cm">
  <span lang="es-ES">En Santiago, 2019.</span></p>
</div>
