.component-body {
  margin: 80px 30px 30px 30px;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  #header-img, .header-img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px){
  #header-img, .header-img {
    max-width: 50%;
    margin-bottom: 20px;
  }
}
